@{
    ViewData["Title"] = "Despre noi";
}

<div class="text-center mt-5">
    <h2 class="mb-4">Despre Scents Symphony</h2>

    <p class="lead">Scents Symphony este un magazin de parfumuri de nișă creat pentru iubitorii de arome unice.</p>
    <p>Oferim selecții atent alese de la branduri exclusiviste, pentru gusturi rafinate.</p>
    <p>Indiferent dacă ești în căutarea unui parfum personal sau a unui cadou memorabil, suntem aici să te ajutăm.</p>
    <p class="fw-bold">✨ Îți mulțumim că faci parte din povestea noastră!</p>

</div>
